<h1>新規登録</h1>

<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <%= form_with(model:@staff, local: true) do |f| %>
        <%= f.label      :staff_name, "氏名" %>
        <%= f.text_field :staff_name, class: 'form-control' %>

        <%= f.label      :staff_number, "従業員番号" %>
        <%= f.number_field :staff_number, class: 'form-control' %>

       <%= f.label :training_mode, class: "checkbox inline" do %>
        <%= f.check_box :training_mode %>
        <span>ログインを記憶する</span>
       <% end %>

        <%= f.submit "登録する", class: "btn btn-primary" %>
      <% end %>
   </div>
</div>        