<% unless @shifts.count == 0%>
  <p>残すやつ</p>
  <%= week_calendar events:@shifts do |date, shifts| %>
    <%= date.strftime("%m/%d") %>

    <% if shifts.count > 0%>
      <hr class="cp_hr01" />
    <% end %>
    <% shifts.each do |shift| %>
      <div class="data text-dark">
        <hr class="cp_hr01" />
        <%=link_to shift.staff.staff_name,  deletable_individual_shift_path(shift), method: :patch %> <br>
          <%= shift.start.strftime("%H") %>時~
          <%= shift.finish.strftime("%H") %>時    
      </div>  
    <% end %>
  <% end %>  

  <%= link_to "確定する", perfect_individual_shifts_path, method: :patch, class:"btn btn-primary"%>
<% else %>
  <h1>提出されたシフトはありません。募集してください。</h1>  
<% end %>  