<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @master.store_name %> <br>
        <%= @master.user_name %>
      </h1>
      <%= link_to "プロフィールを変更する", edit_master_path(current_master) %> <br><br>
      <%= link_to "従業員登録", new_staff_path %> <br>
      <%= link_to "従業員一覧", staffs_path %><br><br>
      <%= link_to "シフトのコマを設定する", new_master_shift_separation_path(params[:id]) %>

      <% @shift_separations.each do |shift_separation| %>
        <li> 
          <%= shift_separation.name %>
          業務開始時刻： <%= shift_separation.start_time.hour %> : <%= shift_separation.start_time.min %>
          業務終了時刻： <%= shift_separation.finish_time.hour %> : <%= shift_separation.finish_time.min %>
        </li>
      <% end %>    
    </section>
  </aside>
</div>