<h1>従業員ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: staffs_login_path, scope: :staffs_session, local: true) do |f| %>

       <%= f.label      :store_name, "店舗名" %>
       <%= f.text_field :store_name, class: 'form-control' %>

       <%= f.label        :staff_number, "従業員番号" %>
       <%= f.number_field :staff_number, class: 'form-control' %>

       <%= f.label          :password, "パスワード" %>
       <%= f.password_field :password, class: 'form-control' %>

       <%= f.submit "従業員ログイン", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>   