
    <header class="navbar navbar-expand-lg navbar-dark bg-dark mr-auto">
       <div class="container">
          <%= link_to "７ルール", root_path, id: "logo" %>
          <ul class="navbar-nav">
              <li class="nav-link"><%= link_to "ヘルプ", help_path %></li>
              <% if logged_in? && logged_in_staff? %>
                <li class="dropdown nav-link">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      店長 <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                      <li class="nav-link"><%= link_to "設定",        current_master %></li>
                      <li class="nav-link"><%= link_to "ログアウト",   logout_path, {:method=> :post} %></li>
                   </ul>   
                </li>
                <li class="dropdown nav-link">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      従業員 <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                      <li class="nav-link"><%= link_to "設定",      current_staff %></li>
                      <li class="nav-link"><%= link_to "ログアウト", staffs_logout_path, {:method=> :post} %></li>
                   </ul>   
                </li>   
              <% elsif !logged_in? && logged_in_staff? %>
                <li class="dropdown nav-link">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      従業員 <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                      <li class="nav-link"><%= link_to "設定",      current_staff %></li>
                      <li class="nav-link"><%= link_to "ログアウト", staffs_logout_path, {:method=> :post} %></li>
                   </ul>   
                </li>   
                <li class="nav-link"><%= link_to "店長ログイン",     login_path %></li>
              <% elsif logged_in? && !logged_in_staff? %>  
                <li class="dropdown nav-link">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      店長 <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                      <li class="nav-link"><%= link_to "設定",        current_master %></li>
                      <li class="nav-link"><%= link_to "ログアウト",   logout_path, {:method=> :post} %></li>
                   </ul>   
                </li>
                <li class="nav-link"><%= link_to "従業員ログイン", staffs_login_path %></li>
              <% else %>
                <li class="nav-link"><%= link_to "店長ログイン", login_path %></li>
                <li class="nav-link"><%= link_to "従業員ログイン",staffs_login_path %></li>
              <% end %>  
          </ul>   
       </div>  
    </header>  